<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta utf-8>
        <title>uClass</title>
        <link href="/styles/sidebar.css" rel="stylesheet" />
        <script src="/scripts/functions.js"></script>
    </head>

    <body>
        <nav>
            <div id="logo">
                <img src="/images/logo.jpg" alt="logo"/>
            </div>

            <div id="searchbar_container">
                <form  id="searchbar" method="post" th:action="@{/search}">
                    <input id="search" type="search" th:attr="name='text'">
                
                    <div id="searchButton_container">
                        <input id="searchButton" type="image" src="/images/search.svg">
                    </div>
                </form>
            </div>

            <div id="options">
                <div class="category">
                    <div class="category_title">College</div>

                    <div class="subcategory">
                        <a class="option" th:href="@{/courses}">Courses</a>
                        <a class="option" th:href="@{/professors}">Professors</a>
                    </div>
                </div>

                <div class="category">
                    <div class="category_title">Support</div>

                    <div class="subcategory">
                        <a class="option" th:href="@{/questions}">Questions</a>
                        <a class="option" th:href="@{/contact}">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>

<script>
    hideShow("category", '.category_title', '.subcategory');
</script>