html, body {
    width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0;
}

#nav-main {
    display: flex;
    flex-direction: row;
    width: 800px;
}

main {
    width: 560px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 20pt;
    color: rgb(71, 66, 66);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-bottom: 20px;
}


main #contact {
    height: 100%;
    color: rgb(71, 66, 66);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 40px;
}

main #contact #info_container {
    padding: 10px 20px;
}

main #contact #info_container .info {
    padding-top: 10px;
}

main #contact #info_container .info .info_title {
    font-size: 12pt;
    color: rgb(71, 66, 66);
    font-weight: bold;
}

a {
    text-decoration: none;
    color: gray;
}
